extends layouts/main

block navbar 
  a.btn.btn-outline-primary(href="/login", role="button") Log In

block body 
  .d-flex.border.mx-auto(style="width: 960px;")
    .login.d-flex.flex-column.align-items-center(style="width: 75%;")
      .p-5
        h1.text-center.mb-4 Register

        form(action="/register", method="post")
          .mb-3
            label.form-label(for="Name") Name
            input.form-control(type="Name", id="Name", placeholder="show your name", name="name", value=name)
          .mb-3
            label.form-label(for="Email") Email
            input.form-control(type="email", id="Email", placeholder="enter the email", name="email", value=email)
          .mb-3
            label.form-label(for="Password") Password
            input.form-control(type="password", id="Password", placeholder="just figure out some password...", name="password", value=password)
          .mb-3
            label.form-label(for="confirmPassword") Confirm Password
            input.form-control(type="password", id="confirmPassword", placeholder="hit the same password again", name="confirmPassword", value=confirmPassword)
          .d-flex.justify-content-center.my-4.flex-column
            button.btn.btn-primary.mt-1.mb-2(type="submit") Sign Up
            .d-flex.justify-content-evenly.mt-3.SSO
              include partials/oauth-icon
          .d-flex.justify-content-center.align-items-center.text-center.mt-4
            h5.pt-2 Already have an Account?
            a.btn.btn-outline-info.ms-4(href="/login", style="white-space: nowrap;") Sign In
    #register-no-account(style="width: 50%;")