extends layouts/main

block body  
  .d-flex.border
    .login.d-flex.flex-column.align-items-center(style="width:67%")
      .p-5(style="width: 80%")
        h1.text-center.mb-4 Register

        form(action="/register", method="post")
          .mb-3
            label.form-label(for="Name") Name
            input.form-control(type="Name", id="Name", placeholder="show your name", name="name", value=name)
          .mb-3
            label.form-label(for="Email") Email
            input.form-control(type="email", id="Email", placeholder="enter the email", name="email", value=email)
          .mb-3
            label.form-label(for="Password") Password
            input.form-control(type="password", id="Password", placeholder="just figure out some password...", name="password", value=password)
          .mb-3
            label.form-label(for="confirmPassword") Confirm Password
            input.form-control(type="password", id="confirmPassword", placeholder="hit the same password again", name="confirmPassword", value=confirmPassword)
          .d-flex.justify-content-center.my-4.flex-column
            button.btn.btn-primary.mt-1.mb-2(type="submit") Sign Up
            .d-flex.justify-content-evenly.mt-3
              a(href="#")
                img(src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook_colored_svg_copy-256.png", alt="facebook", style="width: 3.5rem; height: 3.5rem;")
              a(href="#")
                img(src="https://cdn2.iconfinder.com/data/icons/social-media-free-20/32/google_search_online_social_media-2-256.png", alt="google", style="width: 3.5rem; height: 3.5rem;")
              a(href="#")
                img(src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-256.png", alt="github", style="width: 3.5rem; height: 3.5rem;")
          .d-flex.justify-content-center.align-items-center.mt-4
            h5 Already have an Account?
            a.btn.btn-outline-info.ms-4(href="/login", style="white-space: nowrap;") Sign In
    #register-no-account 