div.mb-3.d-flex
  label.input-group-text(for="classType") Class
  select.form-select(name="classType", id="classType", required)
    option(value="支出", selected=(classType === "支出")) 支出
    option(value="收入", selected=(classType === "收入")) 收入
div.mb-3.d-flex
  label.input-group-text(for="item") Item Name
  input.form-control(type="text", id="item", name="item", value=item, required)
div.mb-3.d-flex
  label.input-group-text(for="date") Date*
  input.form-control(type="date", name="date", id="date", value=date, required)
div.mb-3.d-flex
  label.input-group-text(for="type") Type
  select.form-select(name="type", id="type", required)
    option(value="") Choose...
    option(value="飲食", selected=(type === "飲食")) 飲食
    option(value="服飾", selected=(type === "服飾")) 服飾
    option(value="交通", selected=(type === "交通")) 交通
    option(value="住宿", selected=(type === "住宿")) 住宿
    option(value="教育", selected=(type === "教育")) 教育
    option(value="娛樂", selected=(type === "娛樂")) 娛樂
div.mb-3.d-flex
  label.input-group-text(for="amount") Amount
  input.form-control(type="number", id="amount", name="amount", min="1", value=amount, required)